{% extends "baseAdmin.html" %}
{% block title %} Admin - Dashboard {% endblock %}
{% set active_page = "dashboard" %}
{% from 'includes/__formhelper.html' import render_field %}
{% block content %} 
    <div class="container-fluid col-6">
        <form method="post">
            {% for field in form %}
            <div class="form-floating ">
                {{ render_field(field, class="form-control")}}
            </div>
            {% endfor %}
            <input type="submit">
        </form>
    </div>
{% endblock %}
