{% extends "base.html" %}
{% block title %}Threads in time - Shipping{% endblock %}

{% block content %}
{% from "includes/_formHelper.html" import render_field %}
<link rel="stylesheet" href="../static/styles/shipping.css">

<div class="row">
  <div class="container content-section col-12 col-md-9">

    <div class="card shipping">
      <div class="card-header">
        <h2>Shipping</h2>
      </div>
      <div class="card-body">
        <form method="POST" enctype="multipart/form-data">
          <div class="form-group col py-3">
            {{ render_field(form.name, class="form-control") }}
          </div>
          <div class="form-group col py-3">
            {{ render_field(form.address, class="form-control") }}
          </div>
          <div class="form-group col py-3">
            {{ render_field(form.unit_number, class="form-control") }}
          </div>
          <div class="form-group col py-3">
            {{ render_field(form.postal_code, class="form-control") }}
          </div>
          <div class="form-group col py-3" id="right">
            {{ render_field(form.email, class="form-control") }}
          </div>
          <div class="form-group col py-3" id="left">
            {{ render_field(form.phone_number, class="form-control") }}
          </div>
          <button class="btn btn-secondary" onclick="location.href = '/payment'">Proceed to Payment</button>
          <button onclick="history.back()" id="goBack" class="btn btn-secondary" >Go Back</button>
        </form>
      </div>
    </div>
  </div>

  <div class="container col-12 col-md-3">
    <div class="card summary-card">
      <div class="card-header">
        <p>Order Summary</p>
      </div>

      <div class="cart-body">
        <div class="total  d-flex">
          <p>Subtotal</p>
          <p class="cart-total-price ms-auto">$0</p>
        </div>
        <div class="shipping d-flex">
          <p>Shipping</p>
          <p class="ms-auto">$5</p>
        </div>
        <div class="grandtotal d-flex">
          <p>Grand Total</p>
          <p class="cart-grandtotal-price ms-auto">S$0</p>
        </div>
      </div>
    </div>
  </div>
    
</div>
<div class="admin-padding">
  <div class="col py-3">
    
  </div>
</div>
{% endblock %}

{% block scripts %}
<script src="../static/scripts/cart.js"  async></script> 
{% endblock %}


<!-- <div class="row">
  <div class="container content-section col-12 col-md-9">
    <button class="accordion">Shipping Information</button>
    <div class="panel">
      <div class="card shipping">
        <div class="card-header">
          <h2>Shipping</h2>
        </div>
        <div class="card-body">
          <form method="POST" enctype="multipart/form-data">
            <div class="form-group col py-3">
              {{ render_field(form.name, class="form-control") }}
            </div>
            <div class="form-group col py-3">
              {{ render_field(form.address, class="form-control") }}
            </div>
            <div class="form-group col py-3">
              {{ render_field(form.unit_number, class="form-control") }}
            </div>
            <div class="form-group col py-3">
              {{ render_field(form.postal_code, class="form-control") }}
            </div>
            <div class="form-group col py-3" id="right">
              {{ render_field(form.email, class="form-control") }}
            </div>
            <div class="form-group col py-3" id="left">
              {{ render_field(form.phone_number, class="form-control") }}
            </div>
            <button class="btn btn-secondary" type="submit">Submit</button>
          </form>
        </div>
      </div>
    </div>

    <button class="accordion">Payment</button>
    <div class="panel">
      <div class="container payment-container">
        <div class="card-container">
            <div class="front">
                <div class="image">
                    <img src="static/images/chip.png" alt="">
                    <img src="static/images/all3.png" class='card_type'>
                </div>
                <div class="card-number-box">################</div>
                <div class="flexbox">
                    <div class="box">
                        <span>Card Holder</span>
                        <div class="card-holder-name">Full Name</div>
                    </div>
                    <div class="box">
                        <span>Expires</span>
                        <div class="expiration">
                            <span class="exp-month">MM</span>
                            <span class="exp-year">YY</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="back">
                <div class="stripe"></div>
                <div class="box">
                    <span>CVV</span>
                    <div class="cvv-box"></div>
                    <img src="" class='card_type'>
                </div>
            </div>
        </div>
        <form method='post' action=''>
            <div class="inputBox"> 
                {{ render_field(payment_form.card_number, class="form-control card-number-input", id="card-number") }}
            </div>
            <div class="inputBox">
                {{ render_field(payment_form.card_holder, class="form-control card-holder-input") }}
            </div>
            <div class="flexbox">
                <div class="inputBox">
                    {{ form.csrf_token }}
                    {{ render_field(payment_form.exp_mm, class="form-check month-input" , style="list-style-type: none")}} 
                </div>
                <div class="inputBox">
                    {{ form.csrf_token }}
                    {{ render_field(payment_form.exp_yy, class="form-check year-input" , style="list-style-type: none") }} 
                </div>
                <div class="inputBox" type="password">
                    {{ render_field(payment_form.cvv, class="form-control cvv-input" , maxlength="4") }}
                </div>
            </div>
            <input type="submit" value="Pay" class="submit-btn">
        </form>
      </div>
  </div>
  <div class="container col-12 col-md-3">
    <div class="card summary-card">
      <div class="cart-header card-header">
        <p>Order Summary</p>
      </div>

      <div class="cart-body">
        <div class="total  d-flex">
          <p>Subtotal</p>
          <p class="cart-total-price ms-auto">$0</p>
        </div>
        <div class="shipping d-flex">
          <p>Shipping</p>
          <p class="ms-auto">$5</p>
        </div>
        <div class="grandtotal d-flex">
          <p>Grand Total</p>
          <p class="cart-grandtotal-price ms-auto">S$0</p>
        </div>
      </div>
    </div>
  </div>  
</div> -->