{% extends "baseAdmin.html" %}
{% block title %}Threads in time - Add Product{% endblock %}

{% set active_page = 'inventory' %}
{% block content %}
{% from "includes/_formhelper.html" import render_field %}
<div class="admin-padding">
  <div class="col py-3">
    <h1 class="display-4">Add Product</h1><span id="datetime"></span>

    <form method="POST" enctype="multipart/form-data">
      <div class="form-group col py-3">
        {{ render_field(form.product_name, class="form-control") }}
      </div>
      <div class="form-group col py-3">
        {{ render_field(form.category, class="form-control") }}
      </div>
      <div class="form-group col py-3">
        {{ render_field(form.sku, class="form-control") }}
      </div>
      <div class="form-group col py-3" id="left">
        {{ render_field(form.product_price, class="form-control") }}
      </div>
      <div class="form-group col py-3" id="right">
        {{ render_field(form.quantity, class="form-control") }}
      </div>
      <div class="form-group col py-3">
        {{ render_field(form.product_description, class="form-control") }}
      </div>
      <div class="form-group col py-3">
        {{ form.hidden_tag() }}
        {{ form.file }}
      </div>
      <input type="submit" value="Add Product" class="btn btn-primary col py-3"/>
      <button onclick="location.href = '/admin/inventory/retrieve_product';" id="goBack" class="align-right submit-button" >Go Back</button>
    </form>
  </div>
</div>
{% endblock %}