<nav class="sidebars close">
    <header>
        <div class="image-text">
            <span class="image">
                <img src="../../static/images/logo.png">
            </span>

            <div class="text logo-text">
                <span class="name">Admin</span>
                <span class="profession">Threads in Time</span>
            </div>
            <a class="stretched-link" href="{{url_for('admin.accounts.retrieveProfile')}}"></a>
        </div>
        <i class='bx bx-menu toggle'></i>
    </header>
    <div class="menu-bar">
        <div class="menu">
            <ul class="menu-links">
                {% set navList = [
                    (url_for('admin.dashboard'), 'dashboard', 'Dashboard', 'bx bxs-dashboard'),
                    (url_for('admin.accounts.retrieveCustomers'), 'users', 'Users', 'bx bx-user'),
                    (url_for('admin.inventory.retrieve_products'), 'inventory', 'Inventory', 'bx bx-package'),
                    (url_for('admin.rewards.viewVouchers_admin'), 'rewards', 'Rewards', 'bx bxs-discount'),
                    (url_for('admin.reporting.reports'), 'reports', 'Reports', 'bx bx-bar-chart-alt-2'),
                    ('#', 'customer_support', 'Customer Support', 'bx bx-support')
                ] -%}
                
                {% set active_page = active_page|default('dashboard') -%}
                {% for href, id, caption, icon in navList %}
                <li class="nav-link position-relative">
                    <a href="{{ href|e }}" class="{% if id == active_page %}active{% endif %}">
                        <i class='{{icon}} icon'></i>
                        <span class="text nav-text">{{caption|e}}</span>
                    </a>
                </li>
                {% endfor %}
            </ul>
        </div>

        <div class="bottom-content">
            <li class="">
                <a href="/">
                    <i class='bx bx-log-out icon' ></i>
                    <span class="text nav-text">Logout</span>
                </a>
            </li>

            <li class="mode">
                <div class="sun-moon">
                    <i class='bx bx-moon icon moon'></i>
                    <i class='bx bx-sun icon sun'></i>
                </div>
                <span class="mode-text text">Dark mode</span>

                <div class="toggle-switch">
                    <span class="switch"></span>
                </div>
            </li>
        </div>
    </div>
</nav>

<script>
    const body = document.querySelector('body'),
    sidebar = body.querySelector('nav'),
    toggle = body.querySelector(".toggle"),
    modeSwitch = body.querySelector(".toggle-switch"),
    modeText = body.querySelector(".mode-text");


toggle.addEventListener("click" , () =>{
sidebar.classList.toggle("close");
})


modeSwitch.addEventListener("click" , () =>{
body.classList.toggle("dark");

if(body.classList.contains("dark")){
    modeText.innerText = "Light mode";
}else{
    modeText.innerText = "Dark mode";
    
}
});
</script>
