<nav class="navbar navbar-expand-lg navbar-light " style="background-color:#ffffff;">

  <div class="container-fluid">

    <img src="../../static/images/logo.png" width="50px" height="50px" style="margin-right:10px" >
    <a class="navbar-brand" href="/">Threads in Time</a>

    <button class="navbar-toggler" type="button" data-mdb-toggle="collapse" data-mdb-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <i class="fas fa-bars"></i>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Category
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li>
              <a class="dropdown-item" href="#">T-Shirts & Polos & Tank Tops</a>
            </li>
            <li>
              <a class="dropdown-item" href="#">Jeans</a>
            </li>
            <li>
              <a class="dropdown-item" href="#">Shorts</a>
            </li>
            <li>
              <a class="dropdown-item" href="#">Dresses</a>
            </li>
            <li>
              <a class="dropdown-item" href="#">Hoodies</a>
            </li>
            <li>
              <hr class="dropdown-divider" />
            </li>
            <li>
              <a class="dropdown-item" href="#">Shoes</a>
            </li>
          </ul>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="{{url_for('main.rewards.discover')}}">Rewards</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="{{url_for('main.support.Contact_Us')}}">Support</a>
        </li>

      </ul>

      <form class="w-auto">
        <input
          type="search"
          class="form-control"
          placeholder="Search"
          aria-label="Search"
        />
      </form>

      <ul class="navbar-nav d-flex flex-row me-1">
        <li class="nav-item me-3 me-lg-0">
          <a class="nav-link" href="{{url_for('main.transactions.cart')}}"><i class="bx bxs-cart" style="font-size: 1.5em;"></i></a>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Profile
          </a>
          <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
            <li>
              <a class="dropdown-item" href="{{url_for('main.accounts.login')}}">Log In</a>
            </li>
            <li>
              <a class="dropdown-item" href="{{url_for('main.accounts.sign_up')}}">Sign Up</a>
            </li>
            <li>
              <a class="dropdown-item" href="#">Wish List</a>
            </li>
            <li>
              <a class="dropdown-item" href="#">My Orders</a>
            </li>
            <li>
              <a class="dropdown-item" href="#">Spools:88</a>
            </li>
          </ul>
        </li>
      </ul>

  </div>
</nav>
