{% extends "base.html" %}
{% block title %} My Vouchers {% endblock %}

{% block content %} 

  <div class="container-fluid">
  <div class="col-md-12 text-center">
    <p class="h3 mt-4">My Rewards</p>
      <button class="mx-4 my-3"><a href="/discover" style="text-decoration-line: none; color: black;">Discover</a></button>
      <a href="#" class="btn btn-primary active">My Vouchers</a>
    </div>


    {% for voucher in vouchers_list %}
    <div class="container-sm my-5" style="width: 80%;">
      <div class="row align-items-center voucher">
        <div class="col">
          <a class="rounded float-start"><img src="{{url_for('static', filename='reward_uploads/' + voucher.get_filename()) }}" alt="" width="250" height="150"></a>
        </div>
        <div class="col-6 mx-3">
          <p class="fs-5 mb-0 d-none voucher_id" style="font-weight: 600;">{{ voucher.get_voucher_id() }}</p>       
          <p class="fs-5 mb-0" style="font-weight: 600;">{{ voucher.get_name() }}</p>
          <p class="text-start mb-1">{{ voucher.get_description() }} </p>
          <p class="fs-6 my-0" style="font-weight: 600;">Code: {{ voucher.get_discount_code() }}</p>
          <p class="fs-6 my-0" style="font-weight: 600;">Spools Needed: {{ voucher.get_spools() }}</p>
          <p class="fs-6 my-0" style="font-weight: 600;">Discount Amount: {{ voucher.get_discount_amount() }}%</p>
          <p class="fs-6 my-0" style="font-weight: 600;">Expiry Date: {{ voucher.get_expiry_date() }}</p>
          </div>
        <div class="col align-self-center">
            <a href="/admin/rewards/add{{voucher.get_voucher_id()}}" class="btn btn-warning">Use</a>   
    
              <form action="{{url_for('admin.rewards.delete_voucher', id=voucher.get_voucher_id())}}" method="POST">
                <!-- Button to Open the Modal -->
        <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#myModal_{{voucher.get_voucher_id()}}">
          Delete
        </button>
    
        <!-- The Modal -->
        <div class="modal" id="myModal_{{voucher.get_voucher_id()}}">
          <div class="modal-dialog">
            <div class="modal-content">
    
              <!-- Modal Header -->
              <div class="modal-header">
                <h4 class="modal-title">Delete Confirmation</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
              </div>
    
              <!-- Modal body -->
              <div class="modal-body">
                Are you sure you want to delete {{voucher.get_name()}}?
              </div>
    
              <!-- Modal footer -->
              <div class="modal-footer">
                <input type="submit" value="Delete" class="btn btn-danger">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
              </div>
    
            </div>
          </div>
        </div>
    
              </form>
    
              
            </div>
        </div>
    </div>
  {% endfor %}







  <div class="border border-primary w-100 py-3 my-3" style="background-color: rgb(239, 241, 206);">
    <p class="text-center mb-1" style="font-size: 50px;">My Spools: 88</p>
    <p class="text-center" style="font-size: 17px;">$1 Spent = 1 Spool</p>
  </div>
  
  
</div>


{% endblock %}


<!-- <p class="text-center" style="font-size: 50px;">My Spools: {{user.get_spools()}}</p> -->
