{% extends "baseAdmin.html" %}
{% block title %}Admin - Retrieve Password{% endblock %}

<!-- {% set active_page = 'customers' -%} -->

{% block content %}


<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
$(document).ready(function(){
  $("#hide").click(function(){
    $("tbody").hide();
    alert("Customers are now hidden.");
  });
  $("#show").click(function(){
    $("tbody").show();
  });
});
</script> -->


<div class="card">
<div class='admin-padding troll'>
<h1 class="display-4">Retrieve Password</h1>

<!-- <button id="hide">Hide</button>
<button id="show">Show</button> -->

<div class="form-row">
  <div class="col-lg-7">
      {{ render_field(form.password, class="form-control my-3 p-2" ) }}
  </div>
</div>

<div>
  <table class="table table-striped">
    <thead>
      <tr>
      </tr>
    </thead>
    <tbody>
    {% for customer in customers_list %}
      <tr>
        <td><a href="{{url_for('update_password', id=customer.get_customer_id())}}" class="btn btn-warning">Update Password</a></td>
    {% endfor %}
    </tbody>
  </table>
</div>

</div>
</div>

        
{% endblock %}
