{% extends "baseAdmin.html" %}
{% set active_page = 'feedback' -%}

{% block content %}
<div class="card">
  <div>
    {% if count == 0 %}
    <p>No feedback recorded.</p>
    {% elif count == 1 %}
    <p>There is 1 entry.</p>
    {% else %}
    <p>There are {{ count }} entries.</p>
    {% endif %}
  </div>
  
  <div>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th>Type</th>
          <th>Feedback</th>
          <th>Status</th>
          
        </tr>
      </thead>
      <tbody>
            {% for feedback in users_list %}
        <tr>
          <td>{{ feedback.get_Name() }}</td>
          <td>{{ feedback.get_email() }}</td>
          <td>{{ feedback.get_type() }}</td>
          <td>{{ feedback.get_feedback() }}</td>
          <td>{{ feedback.get_status() }}</td>
           <td><a href="{{url_for('admin.support.update_user', id=feedback.get_id())}}" class="btn btn-warning">Update</a></td>
          <td>
             <form action="{{url_for('admin.support.delete_user', id=feedback.get_id())}}" method="POST">
               <!--<input type="submit" value="Delete" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete {#user.get_first_name()#} {#user.get_last_name()#}?');">-->
              <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#myModal_{{feedback.get_id()}}">
        Delete
      </button>
  
      <!-- The Modal-->
      <div class="modal" id="myModal_{{feedback.get_id()}}">">
        <div class="modal-dialog">
          <div class="modal-content">
  
            <!-- Modal Header -->
            <div class="modal-header">
              <h4 class="modal-title">Delete Confirmation</h4>
              <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
  
            <!---- Modal body -->
  
             <div class="modal-body">
              Are you sure you want to delete feedback of id {{feedback.get_id()}}?
    
            </div>
  
  
            <!---- Modal footer -->
            <div class="modal-footer">
              <input type="submit" value="Delete" class="btn btn-danger">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
  
            </div>
  
          </div>
        </div>
      </div>
  
            </form>
          </td>
        </tr>
      {% endfor %}
  
      </tbody>
    </table>
  </div>
</div>
{% endblock %}