{% extends "base.html" %}
{% block content %}
<div class="d-flex flex-column min-vh-100">
<div class = "message">
  <h1>Thank you for your feedback!</h1>
<p>Your response has been recorded. <br> staff will get back to you soon!</p>
<a  href="/FeedbackPage">Submit Another</a>|<a   href= "/ContactUs"><i class="bi bi-reply" ></i>Back to Customer Support</a></p>
</div>



</div>
</div>
<style>
    [class = "message"]{
		font-family:Bradley Hand ITC;
		line-height:2em;
		font-size:2em;
		padding:20px;
		border-radius:100px 100px 100px 100px;
		background-color:salmon;
		margin:10px auto;
		width:700px;
    height: 300px;
		text-align: center;
    margin-top: 150px;
}
    
   
   
    
    
    [class="footer"]{
      height:100px;
      text-align: center;
      font-style: italic;
      font-family: Verdana;
      background-color: #36454F;
      color: white;
      border-radius: 1.5em;
      
    }
    a{
      color: white;
    }
    a:hover{
      color: red;
    }
    hr{
      margin:0;
    }
    i:hover{
      color: red;
    }
    
    
    
</style>




   

<div class="mt auto">
    <hr>
    <p class ="footer">Customer Support Page|<a   href= "/ContactUs"><i class="bi bi-reply" ></i>Back to Customer Support</a></p>
</div>
{% endblock %}