{% extends "base.html" %}
{% block content %}
<style>
  *{
      padding: 0;
      margin: 0;
      box-sizing: border-box;
  
  }
  
  body{ 
      background: rgb(219, 226, 226);
  }
  
  .row {
      background: blue;
      border-radius: 30px;
      box-shadow: 12px 12px 22px grey;
  }
  
  
  


  
  </style>
  
  
  <section>
      <div class="container" style="padding-top: 50px;">
          <div class="row no-gutters">
            <div class="d-flex flex-column min-vh-20">

              <div class = "header">
                <hr>
                
              <h2 class = "greeting">Hello!<br> How can we help?</h2>
              <!--Search bar code-->
              
              
              <!--Search bar code-->
              <hr>
              </div>
              
               
                
              
              </div>
          </div>
    </div>
  </section>
<div>


<h2 class="faq">Frequently Asked Questions</h2>
<hr>
</div>

<section>
  <div class="container" style="padding-top: 50px;">
      <div class="row no-gutters" style="background-color: whitesmoke; margin-bottom: 50px;">
        <div class="d-flex flex-column min-vh-20">
<div class ="container-fluid ">

{% for i in question %}
    
    <h3 class="q">{{i}}</h3>
    <p class ="ans">{{question[i]}}</p>
{% endfor %}
        

</div>
</div>
       
</div>
</div>
</div>
</section>
<div>


<style>
     
    
    [class="header"]{
      
      height: 200px;
      border-top: black;
      border-color: black;

    }
    [class="greeting"]{
      color: white;
      margin-left: 240px;
      margin-top: 80px;

    }
    [class="faq"]{
      text-align: center;
      font-family:sans-serif;
      font-style: italic;
      margin-top: 100px;
    }
     [class="footer"]{
      height:100px;
      text-align: center;
      font-style: italic;
      font-family: Verdana;
      background-color: #36454F;
      color: white;
      border-radius: 1.5em;
    }
    [class="q"]{
      font-family:sans-serif;
      margin-left: 20px;
    }
    [class="ans"]{
      font-family:sans-serif;
      
    }
    a{
      color: white;
    }
    a:hover{
      color: red;
    }
    hr{
      margin:0;
    }
    
</style>

<div class="mt auto">
<hr>

<p class ="footer">Customer Support Page|  <a href="{{url_for('main.support.Contact_Info')}}">Contact Information</a> |<a   href= "{{url_for('main.support.Contact_Us')}}"><i class="bi bi-reply" ></i>Back to Customer Support</a></p>

</div>
{% endblock %}
