{% extends "base.html" %}
{% block title %} Enter Old Password {% endblock %}

{% block content %}
{% from "includes/_formHelper.html" import render_field %}



<div class="form-body">
    <div class="row">
        <div class="form-holder">
            <div class="form-content">
                <div class="form-items">
                    <h3>Enter old password</h3>
                    <p>Fill in information below.</p>
                    <form method="POST" action="/login">
  
                          <div class="form-group">
                            {{ render_field(form.email, class="form-control") }}
                          </div>
                          <div class="form-group">
                            {{ render_field(form.password, class="form-control" ) }}
                            <!--
                                    {% if form.password.errors %}
                                      {{form.password(class="form-control form-controm-lg is-invalid")}}
                                      {%for error in form.password.errors %}
                                          <span>{{error}}</span>
                                      {% endfor %}
                                      {% else %}
                                      {{form.password(class="form-control form-control-lg")}}
                                  {% endif %} 
                                -->
                                
  
                        <div class="form-button mt-3">
                          <button id="submit" type="submit" class="btn btn-primary">Login</button>
                      </div>
                      
                  </form>
              </div>
          </div>
      </div>
  </div>
  </div>
  
    <br/>
        <br>
        Don't have an account? <a href="/signUp" target="blank"><strong>Register here</strong></a>!
        <br>
        <a href="{{url_for('')}}"><strong>Forgot password</strong></a>
    </form>
                      
{% endblock %}