{% extends "baseAdmin.html" %}
{% block title %}Admin - Retrieve Customers{% endblock %}

{% set active_page = 'users' -%}
{% set breadcrumb = [['accounts.retrive_users', 'Users']    ] %}

{% block content %}


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
$(document).ready(function(){
  $("#hide").click(function(){
    $("tbody").hide();
    alert("Customers are now hidden.");
  });
  $("#show").click(function(){
    $("tbody").show();
  });
});
</script>


<div class="card">
<div class='admin-padding troll'>
<h1 class="display-4">Retrieve Customers</h1>
<div>
  {% if count == 0 %}
  <p>There are no customers.</p>
  {% elif count == 1 %}
  <p>There is 1 customer.</p>
  {% else %}
  <p>There are {{ count }} customers.</p>
  {% endif %}
</div>

<button id="hide">Hide</button>
<button id="show">Show</button>
<div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>User ID</th>
        <th>Name</th>
        <th>Email</th>
        <th>Gender</th>
        <th>Phone Number</th>
        <th>Password</th>
<!--    <th>Username</th> -->
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
    {% for customer in customers_list %}
      <tr> <!-- first_name, last_name, email, gender, phone_number, address, unit_number, postal_code, password --> 

        <td>{{ customer.get_customer_id() }}</td>
        <td>{{ customer.get_name() }}</td>
        <td>{{ customer.get_email() }}</td>
        <td>{{ customer.get_gender() }}</td>
        <td>{{ customer.get_phone_number() }}</td>
        <td>{{ customer.get_password() }}</td>
        <td><a href="{{url_for('admin.accounts.update_customer', id=customer.get_customer_id())}}" class="btn btn-warning">Update</a></td>
        <td>
          <form action="{{url_for('admin.accounts.delete_customer', id=customer.get_customer_id())}}" method="POST">
            <!--<input type="submit" value="Delete" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete {{customer.get_name()}}?');">-->
            <!-- Button to Open the Modal -->
            <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#myModal_{{customer.get_customer_id()}}">
              Delete
            </button>
        
            <!-- The Modal -->
            <div class="modal" id="myModal_{{customer.get_customer_id()}}">
              <div class="modal-dialog">
                <div class="modal-content">
        
                  <!-- Modal Header -->
                  <div class="modal-header">
                    <h4 class="modal-title">Delete Confirmation</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                  </div>
        
                  <!-- Modal body -->
                  <div class="modal-body">
                    Are you sure you want to delete {{customer.get_name()}}?
                  </div>
        
                  <!-- Modal footer -->
                  <div class="modal-footer">
                    <input type="submit" value="Delete" class="btn btn-danger">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                  </div>
        
                </div>
              </div>
            </div>
          </form>
        </td>
        


      </tr>
    {% endfor %}
    </tbody>
  </table>
</div>

</div>
</div>

        
{% endblock %}
