{% extends "base.html" %}
{% block title %}Customer - Retrieve Profile{% endblock %}

<!-- {% set active_page = 'customers' -%} -->

{% block content %}


<style>
  *{
      padding: 0;
      margin: 0;
      box-sizing: border-box;
  
  }
  
  body{ 
      background: rgb(219, 226, 226);
  }
  
  
  
  .btn:hover{
      background: white;
      border: 1px solid;
      color: rgb(99, 189, 184);
  
  }
  
  </style>

  <div>

  <div class="card mx-auto my-5" style="max-width: 70%">
    <div class="row g-0">
      <div class="col-md-4 p-4 d-flex justify-content-center align-items-center">
        <img src="/static/images/logo.png" class="img-fluid rounded-start" alt="">
      </div>
      <div class="col-md-8 d-flex justify-content-center align-items-center border-start border-info"> 
        <div class="card-body">
          <div class="row mb-5">
            <h5 class="col-10 card-title mb-0 fs-3">{{current_user.get_name()}}</h5>
            <a class='col-1 btn btn-outline-dark p-1 border-0' href="{{url_for('main.accounts.update_profile', id=current_user.get_customer_id())}}"><i class="bi bi-pencil-square" title="Update Profile"></i></a>
            <a class='col-1 btn btn-outline-dark p-1 border-0' href="{{url_for('logout', id=current_user.get_customer_id())}}"><i class="bi bi-box-arrow-left" title="Logout"></i></a>
          </div>
          <div class="row">
            <p class="col-5">Email:</p>
            <p class="col-7">{{current_user.get_email()}}</p>
          </div>
          <div class="row">
            <p class="col-5">Phone Number:</p>
            <p class="col-7">{{current_user.get_phone_number()}}</p>
          </div>
          <div class="row">
            <p class="col-5">Password:</p>

            <a class="col-7" href="{{url_for('main.accounts.retrieve_password', id=current_user.get_customer_id())}}">Change Password</a>
          </div>
          <div class="row">
            <form action="{{url_for('main.accounts.delete_account', id=current_user.get_customer_id())}}" style="margin-top: 10px;" method="POST">
              <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#myModal_{{current_user.get_customer_id()}}">
                Delete Account
              </button>

              <div class="modal" id="myModal_{{current_user.get_customer_id()}}">
                <div class="modal-dialog">
                  <div class="modal-content">

                    <div class="modal-header">
                      <h4 class="modal-title">Delete Account Confirmation</h4>
                      <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                    </div>

                    <div class="modal-body">
                    {{current_user.get_name()}}, are you sure you want to delete your account? You will no longer have an account with us..
                    </div>

                    <div class="modal-footer">
                      <input type="submit" value="Delete" class="btn btn-danger">
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" >Cancel</button>
                    </div>

                  </div>
                </div>
              </div>
            </form>
          </div>


<!-- <input type="submit" value="Add Product" class="btn btn-primary col py-3"/>
      <button onclick="location.href = '/admin/inventory/retrieve_product';" id="goBack" class="align-right submit-button" >Go Back</button> -->

      </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}


