{% extends "baseAdmin.html" %}
{% block title %}Admin - Retrieve Profile{% endblock %}

<!-- {% set active_page = 'current_user' -%} -->

{% block content %}

<div class='admin-padding'>
<h1 class="display-4"> {{ current_user.get_name() }}'s Profile</h1>
<div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Gender</th>
        <th>Phone Number</th>
      </tr>
    </thead>
    <tbody>

      <td>{{ current_user.get_name() }}</td>
      <td>{{ current_user.get_email() }}</td>
      <td>{{ current_user.get_gender() }}</td>
      <td>{{ current_user.get_phone_number() }}</td>
    </tr>

    </tbody>
  </table>
</div>

</div>
{% endblock %}




