{% extends "base.html" %}
{% block title %} Type Current User Password {% endblock %}

{% block content %}
{% from "includes/_formHelper.html" import render_field %}


<style>
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

body{ 
    background: rgb(219, 226, 226);
}



.btn:hover{
    background: white;
    border: 1px solid;
    color: rgb(99, 189, 184);

}


</style>


<div class="card mx-auto my-5" style="max-width: 70%">
    <div class="row g-0">
        <div class="col-md-4 p-4 d-flex justify-content-center align-items-center">
            <img src="/static/images/logo.png" class="img-fluid rounded-start" alt="">
        </div>
        <div class="col-md-8 d-flex justify-content-center align-items-center border-start border-info">
            <div class="card-body">
                <div class="row mb-5">
                    <h5 class="col-10 card-title mb-0 fs-3">Change Password</h5>
                    <a class='col-1 btn btn-outline-dark p-1 border-0' href="{{url_for('main.accounts.retrieveProfile')}}"><i class="bi bi-arrow-left-square" title="Back to Profile"></i></a>
                </div>
                <div class="row">
                <form method="POST" action="">
                    <div class="row">
                        <div class="col-7">
                            {{ render_field(form.password, class="form-control my-3 p-2" ) }}
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-7">
                            <button type="submit" type="submit" class="btn btn-primary mt-3 mb-5">Change Password</button>
                        </div>
                    </div>

                  </form>
                 
            </div>
        </div>
  </div>
        
        
                      
{% endblock %}