{% extends "base.html" %}
{% block title %}Customer - Retrieve Profile{% endblock %}

<!-- {% set active_page = 'customers' -%} -->

{% block content %}

<div class='admin-padding'>
  <h1 class="display-4"> {{ current_user.get_name() }}'s Profile</h1>
  <div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Gender</th>
        <th>Phone Number</th>
      </tr>
    </thead>
    <tbody>

      <td>{{ current_user.get_name() }}</td>
      <td>{{ current_user.get_email() }}</td>
      <td>{{ current_user.get_gender() }}</td>
      <td>{{ current_user.get_phone_number() }}</td>
    </tr>
    
    </tbody>
  </table>

<td><a href="{{url_for('main.accounts.update_profile', id=current_user.get_customer_id())}}" class="btn btn-warning">Update</a></td>

<td><a href="{{url_for('main.accounts.retrieve_password', id=current_user.get_customer_id())}}" class="btn btn-warning">Change Password</a></td>


<!-- <input type="submit" value="Add Product" class="btn btn-primary col py-3"/>
      <button onclick="location.href = '/admin/inventory/retrieve_product';" id="goBack" class="align-right submit-button" >Go Back</button> -->

</div>
{% endblock %}


