{% extends "baseAdmin.html" %}
{% block title %} Change Admin Password {% endblock %}

{% block content %}
{% from "includes/_formHelper.html" import render_field %}


<style>
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

body{ 
    background: rgb(219, 226, 226);
}

.row{
    background: white;
    border-radius: 30px;
    box-shadow: 12px 12px 22px grey;
}



img{
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;

}

.btn {
    border: none;
    outline: none;
    height: 50px;
    width: 100%;
    background-color: rgb(95, 153, 207);
    color: white;
    border-radius: 4px;
    font-weight: bold;

}

.btn:hover{
    background: white;
    border: 1px solid;
    color: rgb(99, 189, 184);

}


</style>


<section class="Form my-4 mx-5">
    <div class="container">
        <div class="row no-gutters">
            <div class="col-lg-7 px-5 pt-5">
                <h1 class="font-weight-bold py-3">Update Password</h1>
                <h4>Type your new password.</h4>
                <form method="POST" action="/admin/accounts/updateAdminPW">
                  
                    <div class="form-row">
                        <div class="col-lg-7">
                            {{ render_field(form.new_password, class="form-control my-3 p-2" ) }}
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-lg-7">
                            {{ render_field(form.confirm_new_password, class="form-control my-3 p-2" ) }}
                        </div>
                    </div>
                            <!--
                                    {% if form.password.errors %}
                                      {{form.password(class="form-control form-controm-lg is-invalid")}}
                                      {%for error in form.password.errors %}
                                          <span>{{error}}</span>
                                      {% endfor %}
                                      {% else %}
                                      {{form.password(class="form-control form-control-lg")}}
                                  {% endif %} 
                                -->
                    <div class="form-row">
                        <div class="col-lg-7">
                            <button type="submit" type="submit" class="btn btn-primary mt-3 mb-5">Change Password</button>
                        </div>
                    </div>

                  </form>
              
            
            </div>
        </div>
        <td><a href="{{url_for('admin.accounts.retrieveAdminProfile', id=current_user.get_customer_id())}}" class="btn btn-warning">Back to Profile</a></td>

  </div>
        
        
                      
{% endblock %}


